<header class="header">
  <nav class="sidenav">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/blog">blog</a></li>
      <li><a href="/country">Liste pays</a></li>
        <ul>
          <li><a href="/country/egypte">Egypte</a></li>
          <li><a href="/country/uae">uae</a></li>
          <li><a href="/country/jordanie">jordanie</a></li>
          <li><a href="/country/maroc">maroc</a></li>
        </ul>
      </li>
      <li><a href="/forum">forum</a></li>
    </ul>
  </nav>
</header>