{% extends '../../layout.twig' %}

{% block title %}country page{% endblock %}

{% block body %}
  <h1>country page</h1>
  <section class="countries">
    <article><a href="/country/egypt">Egypte</a></article>
    <article><a href="/country/uae">Emirats Arabes Unis</a></article>
    <article><a href="/country/jordanie">Jordanie</a></article>
    <article><a href="/country/maroc">Maroc</a></article> 
  </section>
{% endblock %}